* {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft Yahei";
}

#wrap {
	position: relative;
	height: 600px;
}

#curtain1 {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	background: #FFF;
	transition:all 3s ease-in-out 3s;
}

#curtain2 {
	width: 50%;
	height: 100%;
	position: relative;
	float: right;
	background: #FFF;
	transition:all 3s ease-in-out 3s;
}
#curtain1 span {
	display: block;
	font-size: 60px;
	letter-spacing: 7px;
	font-family: 华文行楷;
	color: #BC2420;
	text-decoration: underline;
	opacity: 0;
	position: absolute;
	top:0px;
	right: 0px;
	transition:all 2s ease-in-out;
}

#curtain2 span {
	display: block;
	font-size: 60px;
	letter-spacing: 7px;
	font-family: 华文行楷;
	color: #BC2420;
	text-decoration: underline;
	opacity: 0;
	position: absolute;
	top:0px;
	left: 0px;
	transition:all 2s ease-in-out;
}

#garden {
	position: absolute;
	top: 20px;
	left: 650px;
	box-shadow: 5px 5px 10px gray;
}

#textdiv {
	position: absolute;
	top:250px;
	left: 180px;
	padding: 15px;
	width: 200px;
	height: 80px;
	box-shadow: 5px 5px 10px gray;

	transition: all 0.5s ease-in-out;
}

#textdiv:hover {
	color: #FFF;
	background-color: gray;
	box-shadow: 5px 5px 10px #FFF;
}

#textdiv:hover text1 {
	color: #FFF;
}

#textdiv:hover text2 {
	color: #FFF;
}

#text1 {
	display: block;
	font-size: 17px;
	letter-spacing: 1px;
	opacity: 0;
	position: absolute;

	transition: all 1.5s ease-in-out;
}

#text2 {
	display: block;
	font-size: 17px;
	letter-spacing: 1px;
	opacity: 0;
	position: absolute;

	transition: all 1.5s ease-in-out;
}

#wordsdiv {
	position: absolute;
	top: 200px;
	left: 180px;
	padding: 15px;
	opacity: 0;
	transition: all 2.5s ease-in-out;
}

#words {
	display: block;
	font-size: 17px;
	letter-spacing: 1px;
}

#foot {
	width: 300px;
	margin: 15px auto 0px;
	opacity: 0;

	transition: all 2s ease-in-out;
}

#foot p {
	text-align: center;
	font-size: 15px;
}