* {
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft Yahei";
}

#wrap {
    position: relative;
}

#headdiv {
    width: 100%;
    height: 200px;
    background: url(./src/head.gif) no-repeat;
    background-size: 100% 200px;
    opacity: 0;

    transition: all 3s linear;
    -webkit-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -o-transition: all 3s linear;
}

#gift {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: url("./src/gift.png") no-repeat;
    background-size: 200px 200px;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#gift:hover {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}

#tipdiv {
    position: absolute;
    top: 130px;
    left: 625px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #F08080;
    opacity: 0;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#tipdiv:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px #000;
}

#tip {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
}

#tri {
    display: block;
    position: absolute;
    top: 48px;
    left: 67px;
    overflow: hidden;
    border: 7px solid transparent;
    border-top-color: #F08080;
}

#ribbon {
    width: 300px;
    height: 186px;
    position: absolute;
    top:100px;
    left:130px;
    opacity: 0;
    background: url(./src/ribbon.gif) no-repeat;
    background-size: 300px 186px;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
